
@font-face {
    src: url('fonts/BebasNeue-Regular.ttf');
}

#title{
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #018290;
    -fx-text-fill: #004353;
}

#body{
    -fx-background-color: #EDEFF1;
}

#leftSide{
    -fx-background-color: #253239;
}

.btn{
    -fx-background-color: transparent;
    -fx-pref-width: 324;
    -fx-text-fill: #b3b3b3;
    -fx-font-size: 20;
    -fx-border-width: 0 0 0 10;
    -fx-border-color: transparent;
    -fx-font-family: "Ebrima";
    -fx-cursor: hand;

}


.btn:hover{
    -fx-border-width: 0 0 0 10;
    -fx-border-color: #024f64;
}

#demandes{
    -fx-opacity: 1;
    -fx-text-fill: #0EC7FB;
    -fx-border-width: 0 0 0 10;
    -fx-border-color: #0EC7FB;
}

#acc{
    -fx-background-color: #186D15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-size: 25;
    -fx-text-fill: white;
}

#ref{
    -fx-background-color: #C00005;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-size: 25;
    -fx-text-fill: white;
}



#haut{
    -fx-background-radius: 0;
    -fx-background-color: #9ccd66;
    -fx-border-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, 0, 0);
}

#haut:hover{
    -fx-background-color: #b7e967;
}

.table-view{
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.table-view:focused{
    -fx-background-color: #fff;
}

.table-view .column-header-background{
    -fx-background-color: #fff;/* linear-gradient(#4d90cb 0%, #1d4263 100%); */
    -fx-font-size: 16;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #b3c4cb;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #86a0ac;
    -fx-font-family: "Ebrima";
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #485f6a;
    -fx-font-size: 16;
    -fx-border-width:  0;
    -fx-padding: 8;
    -fx-alignment: TOP-CENTER;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-font-family: "Ebrima";
}

.somme.table-cell{
    -fx-text-fill: green;
    -fx-alignment: TOP-CENTER;
}

.restante.table-cell{
    -fx-text-fill: red;
    -fx-alignment: TOP-CENTER;
}

.table-row-cell:selected {
    -fx-background-color: #9ae5fe;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll{
    -fx-background-color: #253239;
}

.notification{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ababab;
    -fx-padding: 0 0 10 0;
}

.notification:hover{
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.titreNotif{
    -fx-text-fill: #fff;
    -fx-font-family: Ebrima;
    -fx-font-size: 16;
    -fx-padding: 0 0 0 45;
    -fx-pref-height: 32;
}

.messageNotif{
    -fx-fill: #fff;
    -fx-font-family: Ebrima;
    -fx-font-size: 14;
    -fx-padding: 0 0 0 20;
}

.dateNotif{
    -fx-text-fill: #a8a8a8;
    -fx-font-family: Ebrima;
    -fx-font-size: 12;
    -fx-padding: 0 50 0 0;
}

.x{
    -fx-text-fill: #fff;
    -fx-font-family: Ebrima;
    -fx-font-size: 12;
    -fx-padding: 5 10 5 5;
}

.x:hover{
    -fx-font-size: 14;
}

.notif{
    -fx-background-color: transparent;
    -fx-text-fill: #b3b3b3;
    -fx-font-size: 20;
    -fx-border-width: 0 0 0 10;
    -fx-border-color: transparent;
    -fx-font-family: "Ebrima";
    -fx-cursor: hand;
}

.notif:hover{
    -fx-border-width: 0 0 0 10;
    -fx-border-color: #024f64;
}

#courant{
    -fx-opacity: 1;
    -fx-text-fill: #0EC7FB;
    -fx-border-width: 0 0 0 10;
    -fx-border-color: #0EC7FB;
}
