@font-face {
    src: url('fonts/BebasNeue-Regular.ttf');
}

#top{
    -fx-font-family: "Bebas Neue";
    -fx-text-fill: #018290;
    -fx-border-color: rgba(1, 130, 144, 0.77);
}

#body{
    -fx-background-color: #EDEFF1;   /* 1b7ffb  C4E3FF*/
}

#general{
    -fx-text-fill: #fff;
    -fx-background-color: #0EC7FB;
    -fx-graphic-text-gap: 10;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 18px;
    -fx-padding: 5;
}

#avance{
    -fx-text-fill: #fff;
    -fx-background-color: #9ccd66;
    -fx-graphic-text-gap: 10;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 18px;
    -fx-padding: 5;
}

.secondGrid{
    -fx-border-width: 2;
    -fx-border-color: #9ccd66;
}

.firstGrid{
    -fx-border-width: 2;
    -fx-border-color: #0EC7FB;
}

#more{
    -fx-background-color: transparent;
    -fx-border-radius: 50;
    -fx-border-width: 1.5;
    -fx-text-fill: #1b7ffb;
    -fx-border-color: #1b7ffb;
}

#more:hover{
    -fx-background-color: #1b7ffb;
    -fx-text-fill: #fff;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(three-pass-box, rgb(17, 40, 59), 10, 0, 0, 0);
}

.labels{
    -fx-text-fill: /*#278820*/ #354955;
    -fx-graphic-text-gap: 10;
    -fx-font-size: 15px;
    -fx-font-family: Ebrima;
}

.labels2{
    -fx-text-fill: #354955;
    -fx-graphic-text-gap: 10;
    -fx-font-family: Ebrima;
    -fx-font-size: 15px;

}

.info{
    -fx-text-fill: #758f9b;
    -fx-font-family: Ebrima;
}


.scroll-pane{
    -fx-border-color: #f4f7fd;
}

.scroll-pane > .viewport {  //not .scrollpane but .scroll-pane
-fx-background-color: #f4f7fd;
}


.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.flow{
    -fx-effect: dropshadow(three-pass-box, rgb(17, 40, 59), 5, 0, 0, 0);
}

.buttom{
    -fx-background-radius: 10;
    -fx-border-color: #fc8c1d;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-color: #EDEFF1;
    -fx-text-fill: #fc8c1d;
    -fx-border-color: #fc8c1d;
    -fx-font-family: Ebrima;
    -fx-font-size: 17;
}


.buttom:hover{
    -fx-text-fill: #EDEFF1 ;
    -fx-background-color: #fc8c1d;
}

#retour{
    -fx-background-color: #e96363;
    -fx-background-radius: 10;
    -fx-text-fill: #EDEFF1 ;
    -fx-border-color: #e96363;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-font-family: Ebrima;
    -fx-font-size: 17;
}


#retour:hover{
    -fx-background-color: #EDEFF1;
    -fx-text-fill: #e96363;
    -fx-border-color: #e96363;
}

.action{
    -fx-background-color: rgba(156, 205, 102, 0.19);
    -fx-text-fill: #000;
    -fx-border-color: #9ccd66;
    -fx-border-width: 1;
    -fx-pref-width: 110;
    -fx-pref-height: 95;
    -fx-text-alignment: center;
}

.action:hover{
    -fx-background-color: rgba(156, 205, 102, 0.4);
}

.change{
    -fx-background-color: transparent;
    -fx-border-image-width: 20;
}


.month{
    -fx-background-color: #6f9e4f;
    -fx-pref-width: 110;
    -fx-pref-height: 20;
    -fx-font-family: Ebrima;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.year{
    -fx-font-family: Ebrima;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #2e322e;
}

.status{
    -fx-padding: 10 0 0 0;
}
