#body{
    -fx-background-color: #358798;
    -fx-border-width: 3px;
    -fx-border-color: #fff;
}

.info{
    -fx-text-fill: #d9d9d9;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
}

.labels{
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
}

.btn{
    -fx-background-color: #fff;
    -fx-background-radius: 20;
    -fx-text-fill: #358798 ;
    -fx-border-color: #fff;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12px;
}


.btn:hover{
    -fx-background-color: #358798;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 2;
    -fx-border-radius: 20;
}
